<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- 定义日志级别 -->
    <Properties>
        <Property name="log-path">/tmp/logs</Property> <!-- 日志文件存储路径 -->
        <Property name="log-file-name">stock-data</Property> <!-- 日志文件名 -->
    </Properties>

    <!-- 定义日志格式 -->
    <Appenders>
        <!-- 控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n%throwable"/>
        </Console>

        <!-- 文件输出 -->
        <RollingFile name="RollingFile" fileName="${log-path}/${log-file-name}.log"
                     filePattern="${log-path}/${log-file-name}-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n%throwable"/>
            <Policies>
                <!-- 触发日志文件滚动的条件，例如文件大小达到 10MB -->
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <!-- 定义日志记录器 -->
    <Loggers>
        <!-- 根日志记录器，设置全局日志级别 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <!--        &lt;!&ndash; 可以为特定包或类设置日志级别 &ndash;&gt;-->
        <!--        <Logger name="com.example" level="debug" additivity="false">-->
        <!--            <AppenderRef ref="RollingFile"/>-->
        <!--        </Logger>-->

        <!--        &lt;!&ndash; Spring Boot 默认日志记录器 &ndash;&gt;-->
        <!--        <Logger name="org.springframework" level="warn" additivity="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--        </Logger>-->

        <!-- 可以配置更多的日志记录器，针对不同包/类设置不同的日志级别 -->
    </Loggers>
</Configuration>